* text eol=lf
*.jpg binary
*.png binary
*.pbm binary
*.obj filter=lfs diff=lfs merge=lfs -text
*.mtl linguist-vendored
/resources/** linguist-vendored
/resources/shaders/** linguist-vendored=false
*.bpm filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
